.wrapper {
  padding: 30px 0; }

#wrapper-hero {
  padding: 0px !important; }

.sticky, .gallery-caption, .bypostauthor {
  font-size: inherit; }

.wrapper#wrapper-sticky {
  border-bottom: 1px solid #818a91; }

#wrapper-footer-full, #wrapper-static-hero {
  background-color: #eceeef; }

.wp-caption {
  font-size: inherit; }

.wp-caption-text {
  font-size: inherit; }

.screen-reader-text {
  font-size: inherit; }

.alignright {
  float: right;
  padding-left: 10px; }

.alignleft {
  float: left;
  padding-right: 10px; }

.aligncenter {
  margin: 0px auto; }

.entry-footer span {
  padding-right: 10px; }

img.wp-post-image, article img, figure, img, #secondary img {
  max-width: 100%;
  height: auto; }

a.skip-link {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px; }

.jumbotron {
  margin-bottom: 0px; }

.menu-item {
  float: left;
  width: auto;
  display: inline; }

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 14px;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent; }
  .navbar-toggle:focus {
    outline: 0; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }

.navbar .collapsing, .navbar .collapse.in {
  width: 100%;
  float: left; }

.navbar-dark .navbar-toggle {
  border: 1px solid #fff; }

.navbar-dark .icon-bar {
  border-bottom: 1px solid #fff; }

.navbar-dark .dropdown-menu {
  background-color: #373a3c; }

.navbar #main-menu {
  float: left; }

.navbar-nav .nav-item {
  float: left; }

.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem; }
  .navbar-nav .nav-link + .nav-link {
    margin-left: 0rem; }

.navbar-nav .nav-item + .nav-item {
  margin-left: 0rem; }

.nav-link {
  margin-left: .425rem;
  margin-right: .425rem; }

.dropdown-menu .dropdown-menu {
  position: relative;
  display: block;
  border: none;
  box-shadow: none;
  margin-left: 10px;
  width: 140px; }
  .dropdown-menu .dropdown-menu li {
    list-style: square;
    padding-left: 0px; }

.dropdown-menu .menu-item {
  width: 100%; }
  .dropdown-menu .menu-item a:hover {
    background-color: #895cd1; }

.wrapper {
  padding: 30px 0; }

#wrapper-hero {
  padding: 0px !important; }

.sticky, .gallery-caption, .bypostauthor {
  font-size: inherit; }

.wrapper#wrapper-sticky {
  border-bottom: 1px solid #818a91; }

#wrapper-footer-full, #wrapper-static-hero {
  background-color: #eceeef; }

.wp-caption {
  font-size: inherit; }

.wp-caption-text {
  font-size: inherit; }

.screen-reader-text {
  font-size: inherit; }

.alignright {
  float: right;
  padding-left: 10px; }

.alignleft {
  float: left;
  padding-right: 10px; }

.aligncenter {
  margin: 0px auto; }

.entry-footer span {
  padding-right: 10px; }

img.wp-post-image, article img, figure, img, #secondary img {
  max-width: 100%;
  height: auto; }

a.skip-link {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px; }

.jumbotron {
  margin-bottom: 0px; }

.menu-item {
  float: left;
  width: auto;
  display: inline; }

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 1em;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent; }
  .navbar-toggle:focus {
    outline: 0; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }

.navbar .collapsing, .navbar .collapse.in {
  width: 100%; }

.navbar-dark .navbar-toggle {
  border: 1px solid #fff; }

.navbar-dark .icon-bar {
  border-bottom: 1px solid #fff; }

.navbar-dark .dropdown-menu {
  background-color: #373a3c; }

.navbar #main-menu {
  float: left; }

.navbar-nav .nav-item {
  float: left; }

.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem; }
  .navbar-nav .nav-link + .nav-link {
    margin-left: 0rem; }

.navbar-nav .nav-item + .nav-item {
  margin-left: 0rem; }

.nav-link {
  margin-left: .425rem;
  margin-right: .425rem; }

.dropdown-menu .dropdown-menu {
  position: relative;
  display: block;
  border: none;
  box-shadow: none;
  margin-left: 10px;
  width: 140px; }
  .dropdown-menu .dropdown-menu li {
    list-style: square;
    padding-left: 0px; }

.dropdown-menu .menu-item {
  width: 100%; }
  .dropdown-menu .menu-item a:hover {
    background-color: #895cd1; }

body {
  color: red; }
